<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futiletech.filthyrichlion">

    <!-- added permission tag -->
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider android:authorities="@string/facebook_app_id"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <!-- this part was added, the number comes from developer facebook page -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".categoriesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".howToPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".questionsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".scoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".manageDbActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".coursesDbActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".questionsDbActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible|adjustPan"></activity>
    </application>

</manifest>